#drop-zone {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background-color: blue;
}

.drag-active {
    display: block;
    border: 25px black dashed;
    background-color: lightblue;
    z-index: 99999;
}
